@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body{
    background-color: #F6CA37;
}

header{
    background-color: #ED8032;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 50px;
    vertical-align: middle;
    color: white;
    position: absolute;
}

h1{
    transform: rotate(-20deg);
    margin-top: 28%;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.nav{
    background-color: black;
    display: inline-block;
    height: 40px;
    width: 70%;
    margin-left: 280px;
    margin-top: 200px;
    transform: skew(-30deg);
    vertical-align: middle;
}

.inner{
    transform: skew(30deg);
    margin-top: 9px;
}

.inner a{
    color:white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-top: 50%;
    margin-left: 13%;
}
a:hover{
    color: #F6CA37;
}

.aboutme{
    margin-top: 50px;
    margin-left: 45%;
    width: 131px;
}

.cat{
    margin-top: 50px;
    margin-left: 40%;
    width: 300px;
}

h2{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.sum{
    margin-left: 15%;
    margin-top: 40px;
    width: 70%;
}

.sum p{
    text-align: center;
    vertical-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px
}
p span{
    background-color: black;
    margin-top: 50px;
}

span{
    background-color: black;
}

footer{
    margin-left: 40.5%;
    margin-top: 60px;
}
footer a{
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
}
.extraborder{
    margin-top: 60px;
    padding: 10px;
    border: 10px solid #6ACDB1;
    border-radius: 50%;
}

#indexphoto{
    width: 50%;
    margin-left: 25%;
    border-radius: 90%;
    border: 10px solid #E63C2F;
}

.interests{
    margin-left: 15%;
    margin-top: 40px;
    width: 35%;
}

.interests p{
    text-align: center;
    vertical-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.interests ul{
    vertical-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    background-color: black;
}
#globe{
    position: absolute;
    margin-left: 60%;
    margin-top: 20px;
    height: 180px;
    border: 10px solid #E63C2F;
    border-radius: 50%;
}

#rushen{
    position: absolute;
    margin-left: 60%;
    margin-top: 80px;
    height: 180px;
    border: 10px solid #6ACDB1;
    border-radius: 10%;
}

#verm{
    position: absolute;
    margin-left: 60%;
    margin-top: 80px;
    height: 180px;
    border: 10px solid #385CAE;
    border-radius: 50%;
}

.music{
    margin-left: 15%;
    margin-top: 80px;
    width: 35%;
}

.music p{
    text-align: center;
    vertical-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.music ul{
    vertical-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    background-color: black;
}

.food{
    margin-left: 15%;
    margin-top: 80px;
    width: 35%;
}

.food p{
    text-align: center;
    vertical-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.food ul{
    vertical-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    background-color: black;
}

.mycat{
    margin-left: 15%;
    margin-top: 40px;
    width: 35%;
}

.mycat p{
    text-align: center;
    vertical-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.funfacts{
    margin-left: 15%;
    margin-top: 40px;
    width: 35%;
}

.funfacts ul{
    vertical-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.hobbies{
    margin-left: 15%;
    margin-top: 40px;
    width: 35%;
}

.hobbies p{
    text-align: center;
    vertical-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.hobbies ul{
    vertical-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    background-color: black;
}

#moog{
    position: absolute;
    margin-left: 60%;
    margin-top: 50px;
    height: 180px;
    border: 10px solid #E63C2F;
    border-radius: 50%;
}

#val{
    position: relative;
    margin-top: 20px;
    margin-left: 20%;
    border: 10px solid #E63C2F;
    border-radius: 50%;   
}
#percy{
    position: absolute;
    margin-left: 50%;
    margin-top: -79px;
    height: 300px;
    border: 10px solid #E63C2F;
    border-radius: 10%;
}

#funfactdiv{
    position: absolute;
    background-color: black;
    margin-left: 12%;
    margin-top: -35px;
    width: 5%;
    height: 165px;
    transform: skewY(45deg);
    z-index: 0;
}

#topdiv{
    position: absolute;
    background-color: black;
    margin-left: 15.3%;
    margin-top: -90px;
    width: 400px;
    height: 80px;
    transform: skewX(45deg);
    z-index: 0;
}

.funaboutme{
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 45%;
    width: 131px;
}

#funfactsbord{
    margin-left: 15%;
    margin-top: 40px;
    width: 35%;
    border: 2px solid black;
    z-index: 0;
}
ul, li{
    z-index: 10;
}